# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Just in case these appear
.metadata
.packages
pubspec.lock
.dart_tool/
build/

bench_json/
